    {
      "coinId": 1, // CMC ID
      "coinName": "Pancake",
      "symbol": "CAKE", // if cmc id can be provided, symbol is not required
      "auditor": "Name of Audit Company”, //e.g. Certik, Hacken",
      "auditStatus": 0, // 0=not audited,1=auditing, 2=audited"score": 100,
      "auditTime": "2020-10-13T00:12:12Z",
      "contractAddress": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82", // if cmc id can be provided, contract address and platform is not required. 
      "contractPlatform": "BSC",
      "reportUrl": "xxxxx", //e.g. ​​https://www.certik.org/projects/1inch
      "overview": [
        {
          "name": "Static Analysis",
          "score": 91,
          "msg": "aaaa"
        },
        {
          "name": "On-chain Monitoring",
          "score": 91,
          "msg": "aaaa"
        }
      ],
      "communityAlerts": [
        {
          "description": "Flash Loan Attack",
          "detail": "The project suffered from a flash loan attack that resulted in a loss of 114K WBNB and 697K BUNNY.",
          "status": "CONFIRMED"
        }
      ],
      "findings": [ // the Finding section in the audit report
        {
          "id": "MCF-01",
          "title": "Variable Naming Convention",
          "type": "Coding Style",
          "severity": "Informational",
          "resolved": true
        }
      ]
    }